body, .header, .content{ padding: 0; margin: 0; }

.main{ width: 100%;}
.header
{
    background-color: #dddddd;
    color: black;
    width: 100%;
}
.header #div-logo h1{ font-size: 18pt; margin-top: 5px; }
.header #div-menu a{ font-size: 20pt; }

.content #navbar
{
    background-color: #333333;
    width: 100%;
    box-shadow: 0 1px 2px black;
}

#navbar a:active li, #navbar li:hover
{
    background: #111111;
}

#navbar li a{ color: white; }

.page .page-list, .page .registry-form{ margin-top: 10px; }

.page-list li { margin-bottom: 10px; }

.page-list li #race-actions{ text-align: center; }

.page-list li #race-actions a{ font-size: 16pt; }